/* table {
  width: 40rem;
  margin: auto;
  border-spacing: 0;
}
td {
  padding: 1rem;
  border-bottom: 1px solid grey;
} */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.commentTitle {
  flex-direction: row;
}

.commentList {
  transform: rotate(180deg);
}

.commentList li {
  transform: rotate(-180deg);
}

.MuiContainer-root {
  padding-bottom: 10%;
}
.loginBox {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0 1rem 0 1rem;
}
