/* table {
  width: 40rem;
  margin: auto;
  border-spacing: 0;
}
td {
  padding: 1rem;
  border-bottom: 1px solid grey;
} */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

.backButton:hover {
  background-color: #337a8a !important;
}

.commentTitle {
  flex-direction: row;
}

.commentList {
  transform: rotate(180deg);
}

.commentList li {
  transform: rotate(-180deg);
}

.MuiContainer-root {
  padding-bottom: 10%;
}

.Mui-selected,
.Mui-selected > svg {
  color: #05192c;
}

.MuiImageListItemBar-subtitle,
.MuiImageListItemBar-title {
  color: #05192c;
}

.heartButton > .MuiButton-startIcon {
  margin: 0;
}

.heartButton {
  position: absolute;
  top: 0;
  right: 10px;
  min-width: 30px !important;
}

.editButton > .MuiButton-startIcon {
  margin: 0;
  padding-right: 2px;
}

.editButton:hover {
  background-color: #337a8a !important;
}

.heartButton > .MuiButton-startIcon:hover {
  color: #ff5b5b;
  box-shadow: none;
}

.MuiImageListItemBar-root,
.MuiImageListItemBar-positionBottom {
  height: 50px;
}

.MuiImageListItemBar-titleWrap {
  padding-top: 5px !important;
}

.singleLike > .MuiButton-startIcon > .MuiSvgIcon-fontSizeMedium {
  font-size: 30px !important;
  margin-left: 12px;
}

.MuiImageList-standard {
  margin-top: 8px;
  margin-bottom: 20px !important;
}
